# Ignore Wwise cache folder
DrBounce-WwiseProject/.cache

# Ignore Wwise profiler sessions
DrBounce-WwiseProject/*.prof

# Ignore misc cache and user settings files
*.validationcache
*.wsettings
*.akd

# Ignore soundbank and plugin xml info
SoundbanksInfo.xml
SoundbanksInfo.xml.meta
PluginInfo.xml
PluginInfo.xml.meta
